@define-color base00 #020503;
@define-color base01 #0b1a11;
@define-color base02 #1a3b2a;
@define-color base03 #4a7a62;
@define-color accent #26d480;
@define-color accent2 #00bd9d;
@define-color accent3 #99f7ca;
@define-color red #ff5f6e;
@define-color green #52ff6e;
@define-color yellow #dbe069;
