@import "/home/kyroceus/.config/colors/palette.css";

* {
  font-family: "FiraCode Nerd Font";
  font-size: 13px;
  font-weight: bold;
}

window {
  margin: 0px;
  border: 1.5px solid @accent3;
  border-radius: 5px;
  background-color: @base01;
  font-family: monospace;
  font-size: 12px;
}

#input {
  margin: 5px;
  border: 1px solid @base01;
  caret-color: @accent;
  outline: none;
  box-shadow: none;
  border-color: @accent3;
  color: @fg;
  background-color: @base01;
}

#input image {
  color: @fg;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: @base01;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: @base01;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: @fg;
}

#entry:selected {
  background-color: @accent3;
  font-weight: normal;
}

#text:selected {
  color: @base00;
  background-color: @accent3;
  font-weight: normal;
}
