@import "/home/kyroceus/.config/colors/palette.css";

/* Remap old variables to palette */
@define-color color1        @accent;
@define-color color2        @accent2;
@define-color color2_darker shade(@accent2, 0.8);
@define-color color3        @base02;
@define-color bg            @base00;
@define-color fg            @fg;

* {
  font-family: "FiraCode Nerd Font Mono Ret";
  font-size: 13px;
}

window#waybar {
  background-color: alpha(@base02, 0.9);
  color: @fg;
}

#workspaces button {
  padding: 0 2px;
  color: @fg;
  background: @color2_darker;
  border-radius: 0;
  border-left: 1px solid @color3;
  border-right: 1px solid @color3;
}

#workspaces button:last-child {
  border-right: 2px solid @color3;
}
#workspaces button:first-child {
  border-left: 2px solid @color3;
}

#workspaces button.active {
  color: @bg;
  background: @color1;
}

#workspaces button.empty {
  color: @fg;
  background: transparent;
}

#workspaces button.empty.active {
  color: @fg;
  background: @color1;
}

#workspaces button.urgent {
  background-color: @red;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
  padding: 0;
  color: @fg;
}

#window {
  margin: 0;
  padding-right: 10px;
}

#battery.charging,
#battery.plugged {
  color: @green;
}

@keyframes blink {
  to {
    background-color: @fg;
    color: @base00;
  }
}

#battery.critical:not(.charging) {
  color: @red;
}

#network.disconnected {
  color: @red;
}

#pulseaudio.muted {
  background-color: @base03;
  color: @base01;
}
